{% if include.caption -%}
<figure class="captioned" style="padding: 5px 5px 0">
{% endif -%}
<a
  data-flickr-embed="true"
  data-sharing="false"
  href="{{ include.href }}"
  title="{{ include.title }}">
  <img
    src="{{ include.img_src }}"
    width="{{ include.width }}"
    height="{{ include.height }}"
    alt="{{ include.alt }}" />
</a>
{% if include.caption -%}
<figcaption>{{ include.caption }}</figcaption>
</figure>
{% endif -%}