<a
  data-flickr-embed="true"
  data-sharing="false"
  href="{{ include.href }}"
  title="{{ include.title }}">
  <img
    src="{{ include.img_src }}"
    width="{{ include.width }}"
    height="{{ include.height }}"
    alt="{{ include.alt }}" />
</a>